/* 最顶部导航 */

.container .top-nav-inner {
	width: 100%;
	background-color: #f2f2f2;
}

.container .top-nav-inner .top-nav {
	width: 1200px;
	height: 36px;
	margin: 0 auto;
}

.container .top-nav ul {
	line-height: 36px;
}

.container .top-nav ul li,
.container .top-nav ul li a {
	font-size: 12px;
}

.container .top-nav .top-nav-left li {
	padding-right: 10px;
}

.container .top-nav .top-nav-right li {
	padding-left: 10px;
}

.container .top-nav .top-nav-left {
	height: 36px;
}

.bg {
	width: 100%;
	background-color: #f2f2f2;
}

.bg-logo {
	width: 100%;
}

.bg-white {
	background-color: #fff;
}


/* logo搜索部分开始 */

.container .search {
	width: 1000px;
	height: 100%;
	padding-left: 150px;
	box-sizing: border-box;
}

.container .search form {
	width: 570px;
	height: 40px;
	margin-top: 20px;
	background-color: #3978f7;
}

.container .search input[type=text] {
	width: 480px;
	height: 100%;
	border: 2px solid #3978f7;
	text-indent: 1em;
}

.container .search input[type=submit] {
	width: 90px;
	height: 100%;
	background-color: #3978f7;
	border: 0;
	border-radius: 0;
	color: #fff;
	text-align: center;
}

.container .search ul {
	line-height: 30px;
}

.container .search ul li {
	padding-right: 10px;
}

.container .search ul li a {
	font-size: 12px;
}


/* logo搜索部分结束 */


/* logo部分 */

.container-inner {
	width: 1200px;
	margin: 0 auto;
}

.nav {
	width: 1200px;
	margin: 0 auto;
	height: 42px;
	border-bottom: 2px solid #3978f7;
}

.nav .nav-index {
	width: 230px;
	height: 42px;
	line-height: 42px;
	background-color: #165ff2;
	text-align: center;
	position: relative;
}

.nav .nav-index a {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height: 100%;
	color: #f1f1f1;
}

.nav .nav-index i {
	font-size: 40px;
	color: #f1f1f1;
	position: absolute;
	left: 40px;
	top: 2px;
}

.nav .nav-list {
	height: 100%;
	line-height: 42px;
}

.nav .nav-list li {
	font-size: 16px;
	font-weight: 700;
	padding: 0 20px;
}

.nav .nav-list li a {
	padding: 0 25px;
}

.nav .nav-list li.active a {
	color: #fff;
	padding: 0 30px;
}

/* 底部导航开始 */

#apc-footer .entity {
	margin: 0 auto;
	width: 1200px;
	padding: 45px 0 30px;
}

#apc-footer .site-map {
	width: 100%;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

#apc-footer .site-map dl {
	/*float: left;*/
	margin: 0 1.6% 0 7%;
	padding: 20px 0 10px;
	width: 160px;
	font-size: 14px;
}

#apc-footer .site-map dt {
	display: block;
	width: 252px;
	height: 55px;
	text-indent: -9999px;
	overflow: hidden;
}

#apc-footer .site-map dd {
	padding-left: 58px;
}

#apc-footer .site-map li {
	line-height: 24px;
}


/* 底部导航结束 */


/* 友情链接开始 */

.friends-links {
	padding: 23px 0 0;
	font-size: 14px;
}

.friends-links a,
.friends-links .para2 small {
	color: #999999;
}

.friends-links span {
	color: #ddd;
	padding: 0 7px;
	cursor: default;
}

.friends-links .para2 {
	padding: 12px 0 0;
}

small {
	font-size: 85%;
}


/* 友情链接结束 */

b,
strong {
	font-weight: 700;
}