




/* banner部分 */

.container .nav {
	background-color: #3978f7;
}

.container .nav-list a,
.container .nav-list:hover a {
	color: #fff;
}

.container .container-inner .banner {
	width: 100%;
	height: 448px;
}

.container .container-inner .banner .banner-left,
.container .container-inner .banner .banner-right {
	height: 100%;
	width: 230px;
	position: relative;
}

.container .container-inner .banner .banner-left ul li {
	width: 100%;
	padding: 10px 10px;
	box-sizing: border-box;
}

.container .container-inner .banner .banner-left ul li a:hover {
	color: #3978f7;
}

.container .container-inner .banner .banner-left ul li:last-of-type {
	border: none;
}

.container .container-inner .banner .banner-left ul li h1 {
	line-height: 2.3;
}

.container .container-inner .banner .banner-left ul li a {
	line-height: 1.5;
	padding-right: 5px;
	box-sizing: border-box;
}

.container .container-inner .banner .banner-center {
	height: 100%;
	width: 740px;
	padding: 5px 5px 0 5px;
	box-sizing: border-box;
	position: relative;
}

#igs {
	width: 100%;
	height: 100%;
	position: relative;
}

.ig img {
	height: 100%;
	width: 100%;
}

.ig {
	position: absolute;
	display: none;
}

.ig.active {
	display: block;
}

#tabs {
	position: absolute;
	left: 315px;
	bottom: 10px;
	border-radius: 10px;
	padding: 5px;
}

.tab {
	float: left;
	width: 10px;
	height: 10px;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 100%;
	border: 1px solid #fff;
}

.tab.active {
	background-color: #fff;
}

.banner .banner-right .user-info {
	text-align: center;
	background-color: #fff;
	padding-bottom: 15px;
}

.banner .banner-right .user-info .unlogin {
	width: 56px;
	height: 56px;
	margin: 16px 0 7px;
	display: inline-block;
	background-image: url(../img/user.jpg);
	background-size: cover;
}

.banner .banner-right .user-info p {
	font-size: 12px;
	line-height: 12px;
}

.banner .banner-right .other-info {
	background-color: #f9f9f9;
	height: 84px;
}

.banner .banner-right .other-info .other-info-item {
	width: 50%;
	text-align: center;
}

.banner .banner-right .other-info .other-info-item i {
	font-size: 20px;
	line-height: 32px;
	color: #3978f7;
	display: inline-block;
	width: 36px;
	height: 36px;
	border: 2px solid #3978f7;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
	margin: 12px 0 7px;
	font-weight: bold;
}

.banner .banner-right .erweima-info {
	width: 100%;
	height: 254px;
	padding: 0 14px;
	box-sizing: border-box;
}


/* 详细列表部分 */

.item {
	width: 100%;
	height: 506px;
	/*background: red;*/
	margin-top: 50px;
}

.item .item-top {
	height: 26px;
	width: 100%;
	padding-left: 200px;
	box-sizing: border-box;
	border-bottom: 2px solid #3978f7;
}
.item .item-top .more{
	height: 26px;
	line-height: 26px;
	color: #3978f7;
}
.item .item-top li {
	height: 26px;
	line-height: 26px;
	width: 152px;
	text-align: center;
}

.item .item-top li a {
	height: 100%;
	width: 100%;
}

.item .item-top li.active a {
	background-color: #3978f7;
	color: #fff;
}

.item .item-bottom {
	height: 478px;
	width: 100%;
}

.item .item-left,
.item .item-center,
.item .item-right {
	height: 478px;
}

.item .item-left {
	width: 200px;
	/*background: red;*/
}

.item .item-center {
	width: 788px;
	/*background: tan;*/
}

.item .item-center li {
	width: 197px;
	height: 239px;
}

.item .item-center li img {
	margin-left: 8px;
}

.item .item-center li:hover img {
	transform: translateX(-7px);
}

.item .item-right {
	width: 212px;
	/*background-color: #f5f5f5;*/
	padding: 10px;
	box-sizing: border-box;
}

.item .item-right .hot-list-title {
	font-size: 16px;
	display: block;
	line-height: 2;
}

.item .item-right .J_Switch {
	/*margin-bottom: 10px;*/
}

.item .item-right .J_Switch span {
	display: inline-block;
}

.item .item-right .J_Switch .normal {
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}

.item .item-right .J_Switch a,
.item .item-right .J_Switch span,
.item .item-right .J_Switch p {
	font-size: 12px;
}

.item .item-right .J_Switch .counter {
	color: #8e8e8e;
}

.item .item-right .J_Switch .num {
	width: 18px;
	color: #666;
}

.item .item-right .J_Switch .switch {
	display: none;
	height: 70px;
	line-height: 21px;
	overflow: hidden;
}

.item .item-right .J_Switch.large .img {
	height: 60px;
	width: 60px;
	float: left;
}

.item .item-right .J_Switch.large .img a {
	height: 80px;
}

.item .item-right .J_Switch.large .detail {
	margin-left: 90px;
}

.item .item-right .J_Switch.large .detail a,
.item .item-right .J_Switch.large .detail p {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ui-hi-orange {
	color: #f80;
}

.item .item-right .J_Switch.large .desc {
	text-align: right;
	color: #8e8e8e;
}

.item .item-right .J_Switch.large .normal {
	display: none;
}

.item .item-right .J_Switch.large .switch {
	display: block;
}