/*.item {
	padding: 0;
}*/

.item .item-title {
	line-height: 44px;
	font-size: 12px;
}

.item .item-left .post-title {
	font-size: 28px;
	color: #393939;
	line-height: 32px;
	border-left: 4px solid #3978f7;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 21px;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: bold;
}

.item .item-left .article-meta {
	padding: 0 25px;
	margin-bottom: 20px;
}

.item .item-left ul li {
	margin: 0;
	height: auto;
}


/*.item .item-left ul li*/

.item .item-left ul li span,
.item .item-left ul li strong {
	display: block;
	width: 100%;
	font-size: 22px;
	color: #000;
	line-height: 50px;
}

.item .item-right ul {
	padding-bottom: 18px;
}

.item .item-right ul li .item-right-img {
	width: 87px;
	height: 61px;
	margin-right: 10px;
}

.item .item-right ul li .item-right-img img {
	width: 100%;
	height: 100%;
}

.item .item-right ul li .item-right-article {
	width: 141px;
	height: 65px;
}

.item .item-right ul li .item-right-article h5 {
	max-height: 66px;
	font-size: 14px;
	line-height: 22px;
	font-weight: 100;
	overflow: hidden;
	/* 溢出用省略号显示 */
	text-overflow: ellipsis;
	/* 溢出不换行 */
	/*white-space: nowrap;*/
	/*将对象作为弹性伸缩盒子模型显示。*/
	display: -webkit-box;
	/*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
	-webkit-box-orient: vertical;
	/*这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。*/
	-webkit-line-clamp: 3;
}