p,
ul,
ol,
li,
dd,
dt,
form,
table,
h1,
h2,
h3,
h4,
h5,
h6,
img,
body,
a,
i,
pre,
input {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 14px;
	font-family: Arial, Helvetica, STHeiti, "宋体";
	color: #666;
	font-style: normal;
	float: none;
}

ul>li>ul,
ul>li>ol,
ol>li>ol,
ol>li>ul {
	margin: 0;
}

a {
	color: #666;
	display: inline-block;
	text-decoration: none;
}

a:hover {
	color: #666;
	text-decoration: none;
}

img {
	display: block;
	font-size: 0;
	border: none;
}

input,
select,
button,
textarea {
	outline: none;
	border: none;
	resize: none;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
	border: 1px solid #58b7ff;
	transition: all .6s ease;
	/* Firefox 4 */
	-moz-transition: all .6s ease;
	/* Safari and Chrome */
	-webkit-transition: all .6s ease;
	/* Opera */
	-o-transition: all .6s ease;
}

select {
	color: #ccc;
}

select option {
	color: #666;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #ccc;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #ccc;
	opacity: 1;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #ccc;
	opacity: 1;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #ccc;
}

input[type=checkbox],
input[type=radio] {
	width: 15px;
}

.my_btn {
	color: #fff;
	padding: 10px 20px;
	color: #fff;
	background-color: #58b7ff;
	border-radius: 4px;
	font-size: 14px;
	transition: all .6s ease;
	/* Firefox 4 */
	-moz-transition: all .6s ease;
	/* Safari and Chrome */
	-webkit-transition: all .6s ease;
	/* Opera */
	-o-transition: all .6s ease;
}

[type=reset],
[type=submit],
button,
html [type=button] {
	-webkit-appearance: button;
}

.my_btn_1 {
	/* 修改按钮  */
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #bfcbd9;
	color: #1f2d3d;
	text-align: center;
	box-sizing: border-box;
	padding: 5px 15px;
	font-size: 14px;
	border-radius: 2px;
}

.my_btn_1:hover {
	border: 1px solid rgb(32, 160, 255);
	color: rgb(32, 160, 255);
}

.my_btn_2 {
	/* 删除按钮  */
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #ff4949;
	color: #fff;
	text-align: center;
	box-sizing: border-box;
	padding: 5px 15px;
	font-size: 14px;
	border-radius: 4px;
	background-color: #ff4949;
}

.btn {
	width: 100%;
	float: left;
}


/*这个类用来让所有的内容左右缩进20px*/

.pad20 {
	padding: 0 20px;
	box-sizing: border-box;
}


/*这个类用来让所有的内容左右缩进10px*/

.pad10 {
	padding: 0 10px;
	box-sizing: border-box;
}


/*这个类用来让所有的内容左右缩进50px*/

.pad90 {
	padding: 0 90px;
	box-sizing: border-box;
}


/*这个类用来撑开容器的高度*/

.overfh {
	overflow: hidden;
}


/*用来处理transition兼容过度的*/

.transition3s {
	transition: all .2s ease;
	/* Firefox 4 */
	-moz-transition: all .2s ease;
	/* Safari and Chrome */
	-webkit-transition: all .2s ease;
	/* Opera */
	-o-transition: all .2s ease;
}


/* 左浮动 */

.float-l {
	float: left;
}


/* 右浮动 */

.float-r {
	float: right;
}


/* 清除浮动的类 */

.clearfix:after {
	content: "020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	/* 触发 hasLayout */
	zoom: 1;
}


/* 页面顶部 */

.container {
	width: 100%;
}

.container .logo {
	width: 1200px;
	height: 108px;
	position: relative;
	margin: 0 auto;
}

.container .logo img {
	display: inline-block;
	width: 200px;
}

.container .logo h1 {
	position: absolute;
	top: 52px;
	left: 200px;
	font-size: 30px;
}

.container .header {
	width: 100%;
	height: 40px;
	background-color: #2e82ff;
}

.container .inner-container {
	width: 1200px;
	margin: 0 auto;
}

.user_type {
	width: 100%;
	min-height: 50px;
	margin: 30px 0;
	position: relative;
}


/* 确认修改密码页面的友情提示开始 */

.tips {
	width: 200px;
	min-height: 100px;
	border: 1px solid #e6e6e6;
	background-color: #F9F9F9;
	position: absolute;
	right: 50px;
	top: 0;
	box-sizing: border-box;
	padding-left: 10px;
}

.tips p {
	height: 30px;
	line-height: 30px;
}

#triangle-left {
	width: 10px;
	height: 10px;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	background-color: #f9f9f9;
	position: absolute;
	left: -6px;
	top: 18px;
	transform: rotate(-135deg);
}


/*页面底部*/

.container .footer {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}


/* 关于边框线的设置 */

.border-l {
	border-left: 1px solid #e6e6e6;
	box-sizing: border-box;
}

.border-r {
	border-right: 1px solid #e6e6e6;
	box-sizing: border-box;
}

.border-t {
	border-top: 1px solid #e6e6e6;
	box-sizing: border-box;
}

.border-b {
	border-bottom: 1px solid #e6e6e6;
	box-sizing: border-box;
}


/* 步骤提示 */

.press-tips {
	height: 50px;
	width: 920px;
	margin: 40px auto;
	border-bottom: 3px solid #e6e6e6;
}

.press-tips li {
	width: 114px;
	height: 50px;
	margin: 0 17px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 7px;
	box-sizing: border-box;
}

.press-tips li span {
	display: inline-block;
	width: 26px;
	height: 26px;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	background-image: url(../img/biaoti.png);
	margin-right: .5em;
}

.press-tips li.active {
	border-bottom: 3px solid #2e82ff;
}

.press-tips li.active span {
	background-position: -35px 0;
}


/* 定位到正中央 */

.position-c {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.marg-l40 {
	margin-right: 40px;
}