.header-inner {
	padding: 60px 0;
}

.address {
	width: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.address h2 {
	width: 100%;
	line-height: 50px;
	font-size: 14px;
}

.address h2 input {
	display: inline-block;
}

.address h2 input[type=radio] {
	margin-left: 20px;
	margin-top: 20px;
}

.address h2 input[type=number] {
	margin-top: 10px;
	text-align: left;
	width: 80px;
}

.address h2 label {
	display: inline-block;
	padding: 0 5px;
}

.address ul {
	width: 100%;
}

.address ul li {
	display: inline-block;
	vertical-align: top;
	width: 237px;
	height: 105px;
	margin-right: 84px;
	margin-bottom: 14px;
	padding: 11px 15px;
	box-sizing: border-box;
	cursor: pointer;
	background: url(../img/default2.png);
	overflow: hidden;
	position: relative;
}

.address ul li:hover,
.address ul li.active {
	background: url(../img/default1.png);
}

.address ul li h3 span {
	font-size: 12px;
	font-weight: 100;
	line-height: 2;
}

.address ul li h3 span.shi {
	font-weight: bold;
}

.address ul li:nth-of-type(4),
.address ul li:nth-of-type(8) {
	margin: 0;
}

.address ul li.active p {
	max-height: 34px;
}

.address ul li p {
	font-size: 12px;
	padding: 5px 0;
	max-height: 62px;
	word-break: break-all;
	word-wrap: break-word;
	box-sizing: border-box;
	overflow: hidden;
}

.address ul li .default-btn {
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
}

.address ul li .change-btn {
	background: none;
	color: tan;
	line-height: 2.5;
}

.sesstion-right {
	width: 100%;
}

.sesstion .btn {
	padding: 20px 0;
}

.sesstion .btn a {
	/*margin: 0 20px;*/
	cursor: pointer;
	
}

.sesstion .btn a:hover {
	color: #fff;
}

.container.order .order-list .order-item .order-item-list .money,
.container.order .order-list .order-item .order-item-list .is-urgent,
.container.order .order-list .order-item .order-item-list .order-status,
.container.order .order-list .order-item .order-item-list .check-result,
.container.order .order-list .order-item .order-item-list .check-report {
	min-width: 13%;
}
.container.order .order-list .order-item h1{
	background-color: #f2f7ff;
    padding: 3px 10px 3px 0;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 100;
}
.container.order .order-list .order-item .order-item-title ul{
	background-color: #f3f3f3;
}

.container.order .order-list .order-item .order-item-title ul li{
	padding-right: 100px;
	width: auto;
}
.container.order .order-list .order-item h1 div:nth-of-type(1){
	line-height: 45px;
}
.container.order .order-list .order-item h1 div {
	line-height: 1.6;
}
.container.order .order-list .order-item h1 span{
	font-weight: bold;
	color: red;
}
.container.order .order-list .order-item .order-item-list div:last-child {
	border: none;
}

.container.order .order-list .order-item li {
	margin: 0;
	box-sizing: border-box;
}
