.container.order .sesstion-right {
	border-right: none;
}
.container.order .search{
	width: 100%;
}


.container.order .search .search-item{
	width: 50%;
	height: 50px;
	float: left;
	position: relative;
}

.container.order .search .search-item p{
	width: 30%;
	height: 100%;
	float: left;
	line-height: 50px;
	text-align: right;
}

.container.order .search .search-item .search-text{
	width: 70%;
	height: 100%;
	float: left;
	padding: 10px 0;
	box-sizing: border-box;
}
.container.order .search .search-item .search-text input,
.container.order .search .search-item .search-text select{
	height: 30px;
	width: 100%;
}

.container.order .search .search-item  button{
	margin-left: 120px;
}

.container.order .order-list{
	width: 100%;
}

.container.order .order-list .order-title{
	margin: 30px 0;
	width: 100%;	
	height: 40px;
	line-height: 40px;
	background-color: #f3f3f3;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	border-radius: 2px;
}

/* wtdw：委托单位 */

.container.order .order-list .order-title li{
	float: left;
	height: 100%;
	text-align: center;
	font-size: 12px;
}

.container.order .order-list .order-title .wtdw{
	width: 300px;
}

.container.order .order-list .order-item {
	width: 100%;
}

.container.order .order-list .order-item li{
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	width: 100%;
	margin-bottom: 20px;
}

.container.order .order-list .order-item .order-item-title {
	width: 100%;
	height: 40px;
	float: left;
}
.container.order .order-list .order-item .order-item-title li{
	float: left;
	border: none;
	width: 25%;
	line-height: 40px;
	background-color: #f3f3f3;
	padding: 0 10px;
	box-sizing: border-box;
	font-size: 12px;
}

.container.order .order-list .order-item .order-item-list{
	width: 100%;
	font-size: 12px;
	float: left;
}
.container.order .order-list .order-item .order-item-list div{
	padding: 10px 15px;
	float: left;
	box-sizing: border-box;
	line-height: 1.5;
	border-right: 1px solid #F7F7F7;
}

.container.order .order-list .order-item .order-item-list div a{
	font-size: 12px;
}
.container.order .order-list .order-item .order-item-list div a:hover{
	color: #58b7ff;
}
.container.order .order-list .order-item .order-item-list .wtdw{
	width: 300px;
}

.container.order .order-list .order-item .order-item-list .money,
.container.order .order-list .order-item .order-item-list .is-urgent,
.container.order .order-list .order-item .order-item-list .order-status,
.container.order .order-list .order-item .order-item-list .check-result,
.container.order .order-list .order-item .order-item-list .check-report,
.container.order .order-list .order-item .order-item-list .op{
	min-width: 80px;
}

.container.order .order-list .order-item .order-item-list .op{	
	border: none;
}

.container.order .order-list .order-item .order-item-list .op .my_btn{
	padding: 5px;
	margin: 5px 0;
	font-size: 12px;
}
